/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.letter {
  width: 55px;
  height: 55px;
  background-color: #F7A4A4;
  font-size: 40px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color:white;
}

.btn-green {
  border-radius: 4px;
    background-color: #B6E2A1;
    border: none;
    padding: 10px 32px;
    font-size: 20px;
    font-weight: 18px;
    color: white;
}

.btn-green:hover {
  background-color: #FEBE8C;
}
